/* Mobile */
@media (max-width: 767px) {
  .desktop-only {
    display: none !important;
  }

  .container {
    width: 320px;
  }

  .container.container-small {
    width: 290px;
  }

  .title-1 {
    font-size: 28px;
  }

  .nav-list {
    display: none;
  }

  .btn-mobile-nav {
    display: block;
  }

  .promo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    padding-left: 0;
    text-align: center;
  }

  .promo-title {
    font-size: 34px;
  }

  .promo-text {
    font-size: 14px;
  }

  .main-content {
    padding: 40px 0;
    gap: 40px;
  }

  .content-row {
    flex-direction: column;
    row-gap: 20px;
  }

  .content-img {
    flex-basis: 120px;
  }

  .content-column-on-mobile {
    flex-direction: column !important;
  }

  /* Inner Page */

  .inner-page {
    padding: 40px 0;
  }

  .cards-wrapper {
    row-gap: 20px;
  }

  .card {
    width: 290px;
  }

  .card-desc p {
    font-size: 14px;
  }

  /* Article */

  .article-content p {
    font-size: 14px;
  }

  .article-content p + p {
    margin-top: 14px;
  }

  .article-img {
    margin: 20px 0;
  }
}
